# Environment configuration files
.env
.env.*
!.env.example

# Local Certificates and Private Keys
*.pem
*.key
docco360.pem

# OS Files
.DS_Store
Thumbs.db

# Dependencies and Build Directories
node_modules/
dist/
build/
.cache/

# Terraform local state and variable files
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
!.tfvars.example